env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/
data.db

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

# Node/React
node_modules/
frontend/dist/
frontend/node_modules/
package-lock.json

.env
backend/data/raw/guardian_opinion_2005_2025.parquet
backend/data/processed/guardian_articles_filtered.parquet
